.box{
    width: 645px;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: white;
    padding: 40px;
    border: 2px solid rgb(92, 91, 91);
    margin-top: 100px;
    border-radius:25px;
}
.box2{
    margin-top: 20px;
}
.text{
    padding-top: 10px;
}